# Sql in Python
___
Author: Kamil Pazik

email: pazik.kamil@gmail.com

phone: +48 721 114 737

## TOC
1. [Refresher of OOP](#Refresher-oop)
2. [Ways of connecting Python with databases](#Ways-of-connecting-Python-with-databases)
3. [Installing prerequisites](#Installing-prerequisites)
4. [Direct connect](#Direct-connect)
5. [Orm](#Orm)
6. [Data models](#Data-models)
  1. [Exercises](#Data-models-exercises)
7. [Quering and data manipulations](#Quering-and-data-manipulations)
8. [Simple exploratory data analysis](#Simple-exploratory-data-analysis)

### Refresher-oop

* What is class ? why we need oop ?
* What is instance/object ?
* What are methods / attributes / properties ?
* What are staticmethod / classmethod ?

### Ways of connecting Python with databases
* Directly using specific libs [sqlite](https://docs.python.org/3/library/sqlite3.html), [psycopg2](http://initd.org/psycopg/docs/)
* Using ORM like [sqllachemy](https://www.sqlalchemy.org/)
* Using pandas

### Installing prerequisites

* Database tool - [Dbeaver](https://dbeaver.io/)
  ```
  # install in bash using proper name instead of *
  dpkg -i *.deb
  ```
* Sqlalchemy with pyscopg2
  ```bash
  conda install sqlalchemy
  conda install psycopg2
  ```
  or from jupyter-notebook
  ```python
  !pip install psycopg2
  ```
* Installation of postgres (your linux machine)
  ```bash
  sudo apt-get update
  sudo apt-get install postgresql postgresql-contrib
  ```
  after installation
  ```bash
  su - postgres
  psql -d template1 -c "ALTER USER postgres WITH PASSWORD 'postgres';"
  ```

### Direct connect

In [29]:
import psycopg2

conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")
cur.fetchall()

[('postgres',)]

In [44]:
cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

In [45]:
conn.commit() #conn.rollback() cofa zmiany jeszcze nie zacommitowane

In [25]:
cur.execute("INSERT INTO test(num, data) values(1, 'test data');")

In [46]:
cur.execute("SELECT * FROM test")
cur.fetchall() # wyświetla listę elementów typu tupla

[]

In [ ]:
type(z[1][2])

In [35]:
# if something is wrong we can use 
# conn.rollback()

In [36]:
cur.execute("SELECT * FROM test")
cur.fetchall()

[]

In [28]:
cur.close()
conn.close()

### Orm
* Object relational mapping,
* Maps data between systems (Python classes to database tables)

In [1]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

#engine_memory = create_engine('sqlite:///:memory:', echo=False) #baza danych w pamięci 

engine_file = create_engine('sqlite:///test.sqlite', echo=True) #baza danych plikowa. tworzony jest plik "test" w określonym formacie "sqlite". echo=true - pokazuej sql'a który jest tworzony
#you can check the file !strings test.sqlite

### Data models

In [2]:
# Important imports
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [3]:
# Important declaration

Base = declarative_base() #funkcja wydobywa klasę którą później dziedziczymy
Session = sessionmaker(bind=engine_file) #wydobywamy klasę sesja

session = Session() #tworzymy sesję

In [4]:
# creation of class
# mapowanie obiektu na bazę danych
class Car(Base):
    __tablename__ = 'cars'
    id = Column(Integer, primary_key=True)
    brand = Column(String(20), nullable=False) # Specify max length of varchar
    model = Column(String) #jeśli nie wpiszemy długości to ustawi się maksymalna długość dla tej kolumny.
    color = Column(String)
    def __repr__(self): 
        return "{class_desc} object with id: {id}, brand: {brand}, model: {model}, color: {color}".format(
            class_desc=self.__class__,
            id=self.id,
            brand=self.brand,
            model=self.model,
            color=self.color
        )

In [5]:
# creates everything what was launched to create
Base.metadata.create_all(engine_file) #dzięki echo widzimy poniższe informacje

2018-10-28 14:40:46,423 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-10-28 14:40:46,425 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:40:46,426 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-10-28 14:40:46,427 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:40:46,428 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cars")
2018-10-28 14:40:46,429 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:40:46,431 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cars (
	id INTEGER NOT NULL,
	brand VARCHAR(20) NOT NULL,
	model VARCHAR,
	color VARCHAR,
	PRIMARY KEY (id)
)


2018-10-28 14:40:46,431 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 14:40:46,616 INFO sqlalchemy.engine.base.Engine COMMIT

### Data models exercises

* Create table car,
* Put "power", "engine volume", "brand", "model"
* Verify table in Sql (dBeaver)

### Quering and data manipulations

* Selectin all rows

In [7]:
session.query(Car).all()

2018-10-28 15:24:54,773 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:24:54,776 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 15:24:54,778 INFO sqlalchemy.engine.base.Engine ()

[]

* Creating new objects and adding to database

In [8]:
mazda = Car(brand='mazda', model='6', color='red')
mondeo = Car(brand='ford', model='mondeo', color='blue')

In [22]:
session.add_all([mazda, mondeo])

In [26]:
mazda.color = 'white'

In [108]:
session.dirty

IdentitySet([])

In [19]:
session.commit()

In [23]:
mustang = Car(brand='ford', model='mustang', color='red')
hyundai = Car(brand='hyundai', model='i30', color='white')

In [24]:
session.add_all([mustang,hyundai])

* Checking status of rows

In [27]:
session.new #pokazuje obiekty które są nowe i czekają w kolejce na commit

IdentitySet([<class '__main__.Car'> object with id: None, brand: ford, model: mustang, color: red, <class '__main__.Car'> object with id: None, brand: hyundai, model: i30, color: white])

In [28]:
session.commit()

2018-10-28 15:34:21,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:34:21,425 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model
FROM cars
WHERE cars.id = ?
2018-10-28 15:34:21,426 INFO sqlalchemy.engine.base.Engine (1,)
2018-10-28 15:34:21,428 INFO sqlalchemy.engine.base.Engine UPDATE cars SET color=? WHERE cars.id = ?
2018-10-28 15:34:21,429 INFO sqlalchemy.engine.base.Engine ('white', 1)
2018-10-28 15:34:21,432 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 15:34:21,434 INFO sqlalchemy.engine.base.Engine ('ford', 'mustang', 'red')
2018-10-28 15:34:21,438 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 15:34:21,440 INFO sqlalchemy.engine.base.Engine ('hyundai', 'i30', 'white')
2018-10-28 15:34:21,441 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
session.deleted

IdentitySet([])

In [30]:
test = Car(brand='test', model='6', color='red')

In [31]:
test in session

False

In [32]:
session.add(test)
test in session

True

In [33]:
session.commit()

2018-10-28 15:37:16,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:37:16,063 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (brand, model, color) VALUES (?, ?, ?)
2018-10-28 15:37:16,065 INFO sqlalchemy.engine.base.Engine ('test', '6', 'red')
2018-10-28 15:37:16,067 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
test in session

True

In [23]:
test.model = 'nowy2'

In [24]:
test in session

True

In [35]:
session.query(Car).all() # ściągamy wszystkie obiekty z tabeli do pamięci

2018-10-28 15:41:43,050 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-28 15:41:43,053 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 15:41:43,054 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: ford, model: mustang, color: red,
 <class '__main__.Car'> object with id: 4, brand: hyundai, model: i30, color: white,
 <class '__main__.Car'> object with id: 5, brand: test, model: 6, color: red]

In [38]:
ls_cars = session.query(Car).all()

2018-10-28 15:44:32,042 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
2018-10-28 15:44:32,043 INFO sqlalchemy.engine.base.Engine ()

In [40]:
ls_cars[1]

<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue

In [41]:
ls_cars[1].brand

'ford'

In [109]:
session.rollback()

In [50]:
session.query(Car).order_by(Car.brand).all()

2018-10-28 15:50:51,883 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.brand
2018-10-28 15:50:51,885 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: ford, model: mustang, color: red,
 <class '__main__.Car'> object with id: 4, brand: hyundai, model: i30, color: white,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white,
 <class '__main__.Car'> object with id: 5, brand: test, model: 6, color: red]

In [47]:
session.query(Car).filter(Car.brand.in_(['ford', 'mazda'])).all()

2018-10-28 15:50:08,094 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand IN (?, ?)
2018-10-28 15:50:08,096 INFO sqlalchemy.engine.base.Engine ('ford', 'mazda')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 3, brand: ford, model: mustang, color: red]

In [44]:
session.query(Car).filter(Car.brand.in_(['ford', 'mazda'])).all()[:2]

2018-10-28 15:48:00,385 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand IN (?, ?)
2018-10-28 15:48:00,387 INFO sqlalchemy.engine.base.Engine ('ford', 'mazda')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue]

In [43]:
session.query(Car).filter(Car.brand.in_(['ford', 'mazda'])).first()

2018-10-28 15:46:46,172 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand IN (?, ?)
 LIMIT ? OFFSET ?
2018-10-28 15:46:46,174 INFO sqlalchemy.engine.base.Engine ('ford', 'mazda', 1, 0)

<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white

#### sorting

In [52]:
from sqlalchemy import desc, asc

session.query(Car).order_by(desc(Car.id)).all()

2018-10-28 15:51:08,381 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.id DESC
2018-10-28 15:51:08,384 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Car'> object with id: 5, brand: test, model: 6, color: red,
 <class '__main__.Car'> object with id: 4, brand: hyundai, model: i30, color: white,
 <class '__main__.Car'> object with id: 3, brand: ford, model: mustang, color: red,
 <class '__main__.Car'> object with id: 2, brand: ford, model: mondeo, color: blue,
 <class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white]

In [53]:
for car in session.query(Car).order_by(desc(Car.id))[1:3]:
    print(car)

2018-10-28 15:51:09,735 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars ORDER BY cars.id DESC
 LIMIT ? OFFSET ?
2018-10-28 15:51:09,736 INFO sqlalchemy.engine.base.Engine (2, 1)
<class '__main__.Car'> object with id: 4, brand: hyundai, model: i30, color: white
<class '__main__.Car'> object with id: 3, brand: ford, model: mustang, color: red

#### filtering

In [54]:
session.query(Car).filter(Car.brand=='mazda').filter(Car.color!='red').all() #chain'owanie funkcji

2018-10-28 15:52:11,982 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ? AND cars.color != ?
2018-10-28 15:52:11,984 INFO sqlalchemy.engine.base.Engine ('mazda', 'red')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white]

In [55]:
session.query(Car).filter(Car.brand.ilike('%m%')).all()

2018-10-28 15:52:13,188 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 15:52:13,189 INFO sqlalchemy.engine.base.Engine ('%m%',)

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white]

In [56]:
session.query(Car).filter(Car.brand.like('%m%')).all()

2018-10-28 15:52:14,082 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand LIKE ?
2018-10-28 15:52:14,083 INFO sqlalchemy.engine.base.Engine ('%m%',)

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white]

In [58]:
session.query(Car).filter(Car.brand.ilike('%I')).all() # like tylko niewrażliwy na wielkość liter

2018-10-28 16:04:41,059 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE lower(cars.brand) LIKE lower(?)
2018-10-28 16:04:41,062 INFO sqlalchemy.engine.base.Engine ('%I',)

[<class '__main__.Car'> object with id: 4, brand: hyundai, model: i30, color: white]

#### Logic operations

* and

In [59]:
from sqlalchemy import and_
from sqlalchemy import or_

In [65]:
session.query(Car).filter(or_(Car.model=='6', Car.brand=='mazda', Car.color=='red')).all()

2018-10-28 16:33:05,918 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.model = ? OR cars.brand = ? OR cars.color = ?
2018-10-28 16:33:05,928 INFO sqlalchemy.engine.base.Engine ('6', 'mazda', 'red')

[<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white,
 <class '__main__.Car'> object with id: 3, brand: ford, model: mustang, color: red,
 <class '__main__.Car'> object with id: 5, brand: test, model: 6, color: red]

In [61]:
import sqlalchemy
q = session.query(Car).from_statement(
    sqlalchemy.text("SELECT * FROM cars WHERE brand=:brand_param")).params(brand_param = "mazda")
print(q.first())

2018-10-28 16:30:15,876 INFO sqlalchemy.engine.base.Engine SELECT * FROM cars WHERE brand=?
2018-10-28 16:30:15,877 INFO sqlalchemy.engine.base.Engine ('mazda',)
<class '__main__.Car'> object with id: 1, brand: mazda, model: 6, color: white

### Simple exploratory analysis

In [62]:
session.query(Car).filter(Car.brand=='mazda').count()

2018-10-28 16:31:48,629 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT cars.id AS cars_id, cars.brand AS cars_brand, cars.model AS cars_model, cars.color AS cars_color
FROM cars
WHERE cars.brand = ?) AS anon_1
2018-10-28 16:31:48,632 INFO sqlalchemy.engine.base.Engine ('mazda',)

1

In [110]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [111]:
class ParkingLot(Base):
    __tablename__ = 'parking_lots'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    parking_adress = Column(String, nullable=False)
    cars = relationship('Car', back_populates='parking')

    def __repr__(self):
        return "<Address(parking_adress='%s')>" % self.parking_adress

/home/martyna/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.ParkingLot, and will be replaced in the string-lookup table.
  item.__name__

In [112]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))

/home/martyna/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Parent, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'parent' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [113]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child", back_populates="parent")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    parent = relationship("Parent", back_populates="children")

/home/martyna/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Parent, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'parent' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [117]:
class ParkingLot1(Base):
    __tablename__ = 'parkinglot1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    address = Column(String)
    cars = relationship("Car1", back_populates="parking_lot1")

class Car1(Base):
    __tablename__ = 'car1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    brand = Column(String)
    model = Column(String)
    color = Column(String)
    parking_lot_id = Column(Integer, ForeignKey('parkinglot1.id'))
    parking_lot1 = relationship("ParkingLot1", back_populates="cars")

In [118]:
Base.metadata.create_all(engine_file)

2018-10-28 16:53:23,619 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cars")
2018-10-28 16:53:23,621 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 16:53:23,624 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("parking_lots")
2018-10-28 16:53:23,625 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 16:53:23,628 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("parent")
2018-10-28 16:53:23,629 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 16:53:23,630 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("child")
2018-10-28 16:53:23,631 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 16:53:23,633 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("parkinglot1")
2018-10-28 16:53:23,634 INFO sqlalchemy.engine.base.Engine ()
2018-10-28 16:53:23,636 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("car1")
2018-10-28 16:53:23,637 INFO sqlalchemy.engine.base.Engine ()

In [120]:
parking = ParkingLot1(address='Nowogrodzka 62')

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'Mapper|ParkingLot|parking_lots'. Original exception was: Could not determine join condition between parent/child tables on relationship ParkingLot.cars - there are no foreign keys linking these tables.  Ensure that referencing columns are associated with a ForeignKey or ForeignKeyConstraint, or specify a 'primaryjoin' expression.

In [105]:
parking.address

NameError: name 'parking' is not defined

In [88]:
parking.cars

NameError: name 'parking' is not defined

In [89]:
car = Car1(brand='audi', model='80', color='red', parking_lot1=parking)

NameError: name 'parking' is not defined

In [90]:
session.add_all([parking, car])

NameError: name 'parking' is not defined

In [91]:
car.parking_lot_id

AttributeError: 'Car' object has no attribute 'parking_lot_id'

In [92]:
session.query(Car).all()

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'Mapper|ParkingLot|parking_lots'. Original exception was: Could not determine join condition between parent/child tables on relationship ParkingLot.cars - there are no foreign keys linking these tables.  Ensure that referencing columns are associated with a ForeignKey or ForeignKeyConstraint, or specify a 'primaryjoin' expression.